@import "tailwindcss";
@plugin "daisyui";

.menu li a.active {
  background-color: #e83128 !important;
  color: white !important;
}
.menu li a.hover {
  background-color: #fceaea;
  color: #e83128;
}
.menu li a.hover {
  font-weight: 700;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
